#color, #grayColor {
  width: 25px;
  height: 25px;
}

#mc1 {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
#mc2 {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}